* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-size: cover;
  background-image: url(./shara\ desert.jpg);
}
.container1 {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.navbar {
  padding-left: 0;
  display: flex;
  top: 20px;
}
.navbar ul li {
  color: white;
  cursor: pointer;
  list-style: none;
  margin: 0px 30px;
  display: inline;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.hamberger {
  position: relative;
}
.p {
  padding-top: 80px;
  padding-left: 40px;
}
h1 {
  padding-bottom: -120px;
  font-size: 40px;
}
.parent-container {
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

button {
  height: 35px;
  border-radius: 20px;
  width: 130px;
  margin-top: 20px;
}

.container2 {
  gap: 20px;
  padding-right: 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px;
}
.box {
  border-radius: 20px;
  height: 200px;
  border: 2px solid grey;
  box-shadow: 2px 6px 10px white;
}
.box1 {
  background-position: center;
  transition-duration: 1s;
  cursor: pointer;
  background-image: url(./pic-1.png);
  background-size: cover;
}
.box1:hover {
  transform: translateY(-10px);
}
.box2 {
  background-position: center;
  transition-duration: 1s;
  cursor: pointer;
  background-image: url(./pic-2.png);
  background-size: cover;
}
.box2:hover {
  transform: translateY(-10px);
}
.box3 {
  background-position: center;
  transition-duration: 1s;
  cursor: pointer;
  background-image: url(./pic-3.png);
  background-size: cover;
}
.box3:hover {
  transform: translateY(-10px);
}
.box4 {
  transition-duration: 1s;
  cursor: pointer;
  background-position: center;
  background-image: url(./pic-4.png);
  background-size: cover;
}
h3 {
  display: flex;
  justify-content: center;
}
.box4:hover {
  transform: translateY(-10px);
}
/* media query for mobile */
@media screen and (min-width:250px) and (max-width:500px){
  .parent-container{
      width: 100%;
      flex-direction:column;
      padding-left: 0;
      margin: 0;
  }
  .box{
    border-radius: 20px;
    height: 30vh;
    width: 100%;
    margin-left: 113px;
    margin-top: 5px;
    border: 2px solid grey;
    box-shadow: 2px 6px 10px white;
  }
  .container2{
  
    padding-right: 30px; 
    grid-template-columns: 200px;
    margin-right: 200px;
  }
}
ul{
  position: relative;
  left: 36px;
}
.hamberger{
  position: relative;
    padding-left: 30px;
}
.p{
  margin-top: -81px;
  margin-left: -32px;
}
.logo{
  position: relative;
    top: 5px;
    left: 5px;
}
/* media query for Tab */
@media screen and (min-width: 500px) and (max-width: 900px) {
  .parent-container {
    flex-direction: column;
    margin: 0;
    padding-left: 0;
  }
  .container2 {
    grid-template-columns: 400px;
    padding-left: 0px;
    width: 200px;
  }
}
